body {
	background-color: #FFFFCC;
}

h1 {
	display: block;
	font-family: "Helvetica Neue", sans-serif;
	font-weight: 50;
	font-size: 80px;
	color: #3a3a3a;
	text-align: center;
	margin: 5% auto;
}

img {
	display: block;
	margin: 2.5% auto;
}